

<div class="rounded shadow bg-white p-5">
  <div class="container text-center ">
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    responsive="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>

  <div class="text-center w-15 pl-30 input-group">
    <input class="form-control text-center" placeholder=" Rechercher titre" type="text" [(ngModel)] ="searchName">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="button" (click)="show()" >Afficher les livres Disponible <span *ngIf = 'IncountLoc()'class="badge badge-light"></span></button> 
      <button class="btn btn-outline-secondary" type="button" (click)="showAll()" >Afficher tous les livres <span *ngIf = 'count()'class="badge badge-light"> {{bookCount}}</span> </button> 
    </div>   
   
  </div> <br>
    <div class="row" id="noLoue">
      
      <div class="col-12 d-flex">

        <h2 class="font-weight-light"><i class="fas fa-book"></i> Vos livres</h2>
        <button class="btn btn-primary ml-auto" type="button" 
         data-toggle="modal" data-target="#booksFormModal" (click)="resetForm()"><i class="fas fa-plus"></i> Ajouter un livre</button>
      </div>
    </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row" style="display: block;" id="showOne" >
        <div *ngFor="let book of books | filter: searchName | paginate: {
          itemsPerPage: pageSize,
          currentPage: page,
          totalItems: 0} ;  let i = index " class="col-12 shadow-sm p-4 mb-3 bg-light">
        
         <div class="row">
          <div class="col-3">
            <img *ngIf ="book.photo && book.photo !== ''" [src]="book.photo" alt="photo" class="w-100">
          </div>
            <div class="col-9">
                
              <div class="d-flex">
                  <h3 class="font-weight-normal">{{book.title}}</h3>
                  <div class="ml-auto">
                      <button class="btn btn-primary m-1" type="button" (click)="onEditBook(book)"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-danger m-1" type="button" (click)="onDeleteBook(i)"><i class="fas fa-trash-alt"></i></button>
                  </div>
              </div>            
              <p>Ecrit par {{book.auteur}} <span *ngIf="book.date && book.date !== '' ">et publié le {{book.date}}</span> </p>

            
              <p>
                <span *ngIf="book.loc" class="text-danger">Loué</span>
                <span *ngIf="!book.loc" class="text-success">Disponible</span>
              </p>
              <button class="btn btn-primary mr-3" [routerLink]="['/book',i]"  >Voir ce livre</button>
              


          </div>
        </div>
      </div>

        

    </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row" style="display: none;" id="show">
      <div *ngFor="let book of books | filterAuteur: searchTitle ;  let i = index " class="col-12 shadow-sm p-4 mb-3 bg-light">
        <span> </span>
          <div class="d-flex">
              <h3 class="font-weight-normal">{{book.title}}</h3>
              <div class="ml-auto">
                  <button class="btn btn-primary m-1" type="button" (click)="onEditBook(book)"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-danger m-1" type="button" (click)="onDeleteBook(i)"><i class="fas fa-trash-alt"></i></button>
              </div>
          </div>            
          <p>Ecrit par {{book.auteur}} <span *ngIf="book.date && book.date !== '' ">publié le {{book.date}}</span> </p>

         
          <p>
            <span *ngIf="book.loc" class="text-danger">Loué</span>
            <span *ngIf="!book.loc" class="text-success">Disponible</span>
          </p>


      </div>

  </div>
    
</div>



<!-- modal -->

<div class="modal fade" id="booksFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="booksForm" (ngSubmit)="onSubmitBooksForm()">
        
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edition d'un livre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" placeholder="Titre"class="form-control" formControlName="title">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Genre</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" formControlName="genre">                        
                        <option value="comedie">Comedie</option>
                        <option value="romance">Romance</option>                        
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="text" placeholder="Auteur" class="form-control" formControlName="auteur">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" placeholder="ISBN" class="form-control" formControlName="isbn">
                        </div>
                    
                    </div>
                    <div class="form-group">
                        <textarea class="form-control w-100" rows="4" placeholder="Résumé du livre" formControlName="resume"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Date de publication" class="form-control" formControlName="date">
                    </div>
                    <div *ngIf="photoUrl && photoUrl !== ''" class="d-flex mb-3">
                      <img [src]="photoUrl" alt="photo" class="w-50 mx-auto ">
                    </div>
                    <div class="form-row">
                      <div class="col-9">
                        <div class="input-group mb-3">
                      
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)=" onUploadFile($event)"aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="spinner-border" *ngIf="photoUploading" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>

                      </div>
                    </div>
                    
                 
                    


                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="loc">
                      <label class="custom-control-label" for="customSwitch1">
                        <span class="text-danger" *ngIf="booksForm.value.loc">   Loué</span>
                        <span class="text-success" *ngIf="!booksForm.value.loc">  Disponible </span>
                      </label>
                    </div>                   
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" [disabled] ="booksForm.invalid" >Enregistrer</button>
                </div>
            </div>
      </form>
    </div>

  </div>

  <!-- delete books modal-->
  <div class="modal fade" id="deleteBookModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Supprimer ce livre ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" (click)="onConfirmDeleteBook()" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
    </div>
  </div>